@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Agbalumo & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@300;400;500;600;700;800;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background: #0d0d0d;
}

.bvd p{
    padding: .5rem;
    background-color: #0d0d0d;
    text-align: center;
    color: #fa5700;
    font-weight: bolder;
} 

#btn{
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1.5rem;
    border-radius: .5em;
    background: #000000;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    padding: .4rem 2.5rem;
}

#btn:hover{
    background: #fa5700;
}

span.text-um-header{
    color: #fa5700;
}

header {
    background: url(https://images.pexels.com/photos/2260824/pexels-photo-2260824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) center;
    background-size: cover;
    width: 100vw;
    height: 64vh;
    background-repeat: no-repeat;
    background-color: white;
    box-shadow: 2px black;
}

header h1{
    font-family: 'Agbalumo', sans-serif;
    padding: 1rem;
    color: rgb(255, 255, 255);
}

.span-coffe{
    color: #fa5700;
}

a{  
    color: #fa5700;
    text-decoration: none;
    transition: .3s;
}

a:hover{
    padding: .4rem;
    background-color: #000000;
    border-radius: 3px;
    color: #fa5700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display: flex;
    padding: 30px;
}

.nav-list li{
    letter-spacing: 1px;
    word-spacing: 25px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fa5700;
    margin: 8px;
    transition: .3s;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}


.mobile-menu.active .line2 {
    opacity: 0;
}


.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, 7px)
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#processo{
    padding-top: 2rem;
    margin-left: 15px;
}

#processo p{
    font-size: 1.2rem;
    text-align: center;
}

.processo-img img {
    border-radius: 50%;
    position: fixed;
    padding: 2rem;
    width: 65%;
}

#clt{
    color: #dbdbdb;
    margin-top: 1.5rem;
    padding: 1.9rem;
    font-size: 1.7rem;
}

#clt p {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: 700;
}

.desc-header-pag{
    color: #fa5700;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 60rem;
    background: #0d0d0d;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0, 0.22) 0px 15px 12px;
    gap: 1rem;
    
}

.imagem{
    display: flex;
    justify-content: center;
}

.etapa-um{
    width: 150px;
    height: 143px;
    border-radius: 50%;
    margin-top: 20px;
}

.text-plantio{
    margin-top: 7px;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: #fa5700;
}

.desc-plantio{
    color: white;
    font-weight: 300;
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    text-align: center;
}



.card-dois{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 127rem;
    background: #0d0d0d;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0, 0.22) 0px 15px 12px;
}

.etapa-dois{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.text-classificacao{
    margin-top: 7px;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: #fa5700;
}

.desc-classificacao{
    color: white;
    font-weight: 300;
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    text-align: center;
}

.card-tres{
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 194rem;
    background: #0d0d0d;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0, 0.22) 0px 15px 12px;
}

.etapa-tres{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.text-torrefacao{
    margin-top: 7px;
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: #fa5700;
}

.desc-torrefacao{
    color: white;
    font-weight: 300;
    margin-top: 30px;
    font-size: 18px;
    text-align: justify;
    text-align: center;
}

.informacoes-um{
    background: #8d4925;
}

#produtos{
    margin-top: 102rem;
}

#title-produtos{
    align-self: center;
    text-align: center;
    justify-content: center;
    color: #fa5700;
    font-size: 2.2rem;
    margin-bottom: 2.4rem;
}

.imagem-produto-um{
    /* h*/
}

.container-produtos{
    align-items: center;
    justify-content: center;
    margin-left: 6.2rem;
    background-color: #282827;
    width: 300px;
    height: 280px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.3) 0px 19px 38px, rgba(0,0,0, 0.22) 0px 15px 12px;
}
.text-cafe-um h1{
    font-size: 1.6rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
} 

.text-cafe-um p{
    font-size: 16.5px;
    color: white;
}

.preco-produtos{
    margin-left: 6.5rem;
    text-align: center;
    font-size: 1.1rem;
    color: #fa5700;
    font-weight: bold;
}

.comprar{
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 39px;
    display: block;
    width: 220px;
    height: 45px;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.comprar span{
    position: relative;
    z-index: 2;
}

.comprar::after{
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fa5700;
    transition: all .35s;
}

.comprar:hover{
    color: #ffffff;
}

.comprar:hover::after{
    width: 100%;
}

#historia-da-marca{
    text-align: center;
    margin-top: 5rem;
    background: #131313;
    width: 100vw;
    height: 425px;
}

.text-main-um h1{
    color: #fa5700;
    font-size: 2.2rem;
    padding-top: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text-main-um p{
    color: white;
    text-align: justify;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#produtos-dois{
    margin-top: 2rem;
}

.box-bottom{
    border: 0;
    padding: .5rem;
    width: 150px;
    background: #ffffff;
    color: #000000;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
    border-radius: .5rem;
}

.box-bottom:hover{
    background-color: #000000;
    color: #fa5700;
}































































@media (max-width: 992px) {

    body{
        overflow-x: hidden;
    }

    .nav-list {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #8d4925;
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }
}














